# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: dabd2fffc89f79d4d362eaa5f4cfef5486cbf356b00ce4bb07dabc85f3ee4f7fc506d8ef7ef729046d4378b429aa93c38e348e72ee84b4aa415e8c730de0e7e8

test:
  secret_key_base: b2a5eebc8ce6c2aeada90d51e482656e0ca80a609d2723bc312faef56077f558e1f8f15cba3072f42c7beea6de1c870ba7c65ab0f93dfd1c4c592d811469260d

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
